
<div class="bar bar-header">
  <button menu-toggle="left" class="button icon ion-navicon"></button>
  <h1 class="title">Brainwriting Eletrônico</h1>
</div>

<ion-view title="Create group">
    <ion-content padding="true" class="has-header">
        <form novalidate class="list">
            <label class="item item-input" id="createGroup-input12">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="Nome do grupo de discussão" ng-model="params.title">
            </label>
            <label class="item item-input" id="createGroup-textarea1">
                <span class="input-label">Descrição</span><textarea placeholder="Descrição sobre o grupo de discussão" ng-model="params.description"></textarea>
            </label>
            <label class="item item-input" id="createGroup-textarea2">
                <span class="input-label">Gatilho</span><textarea placeholder="Gatilho de discussão" ng-model="params.topic"></textarea>
            </label>
        </form>
        <div id="createGroup-button-bar2" class="button-bar">
						<a href="#" class="button button-positive  button-block icon ion-plus" name="name" ng-click="create(params)">Criar</a>
            <a ui-sref="tab.openTab" id="createGroup-button13" class="button button-positive  button-block icon ion-android-cancel">Cancelar</a>
        </div>
    </ion-content>
</ion-view>
