<ion-view title="Edit perfil">
    <ion-content padding="true" class="has-header">
        <form id="editPerfil-form8" class="list">
            <label class="item item-input" id="editPerfil-input13">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="editPerfil-input14">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input" id="editPerfil-input15">
                <span class="input-label">Senha</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <div id="editPerfil-button-bar3" class="button-bar">
            <a ui-sref="tabsController.openTabDefaultPage" id="editPerfil-button15" class="button button-positive  button-block icon ion-edit">Edit</a>
            <a ui-sref="tabsController.openTabDefaultPage" id="editPerfil-button16" class="button button-positive  button-block icon ion-android-cancel">Cancelar</a>
        </div>
    </ion-content>
</ion-view>
