<div class="bar bar-header">
  <button class="button icon ion-arrow-left-c" ng-click="goBack()"></button>
  <h1 class="title">Electronic Brainwriting</h1>
</div>

<ion-view title="Group Settings Participant">
    <ion-content padding="true" class="has-header">
			<h3>Configurações de grupo</h3>
        <form id="groupSettingsFacilitator-form11" class="list">
            <label class="item item-input" id="groupSettingsFacilitator-input9">
                <span class="input-label">Título</span>
                <input type="text" placeholder="" ng-model="group.titulo" value="{{group.titulo}}">
            </label>
            <label class="item item-input" id="groupSettingsFacilitator-input10">
                <span class="input-label">Descrição</span>
                <input type="text" placeholder="" ng-model="group.descricao" value="{{group.descricao}}">
            </label>
            <label class="item item-input" id="groupSettingsFacilitator-input11">
                <span class="input-label">Gatilho</span>
                <input type="text" placeholder="" ng-model="group.gatilho" value="{{group.gatilho}}">
            </label>

						<div class="list">
							<label class="item item-input item-select">
						    <div class="input-label">
						      Status
						    </div>
						    <select ng-model="group.fase" value="{{group.fase}}">
						      <option value="NOVA">NOVA</option>
						      <option value="RECEBENDO_IDEIAS">RECEBENDO_IDEIAS</option>
									<option value="DISCUTINDO_IDEIAS">DISCUTINDO_IDEIAS</option>
						      <option value="AVALIANDO_IDEIAS">AVALIANDO_IDEIAS</option>
									<option value="ENCERRADA">ENCERRADA</option>
						    </select>
						  </label>
						</div>

						<h3>Participantes</h3>
						<div class="item item-body" ng-repeat="participante in participantes" >
							<ion-list>
							<b><i>{{participante.nome}}</i></b>
							</ion-list>
						</div>

						<div class="button-bar">
							<button  class="button button-balanced  button-block icon ion-plus" ng-click="newParticipant.show()">Adicionar participante</button>
						</div>

						<div id="groupSettingsFacilitator-button-bar4" class="button-bar">
		            <button id="groupSettingsFacilitator-button8" class="button button-positive  button-block icon ion-edit" ng-click="save(group)">Salvar</button>
		        </div>
        </form>

    </ion-content>
</ion-view>


<script id="templates/addParticipant.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-balanced">
          <h1 class="title">Adicionar participante</h1>
          <button class="button button-clear button-primary" ng-click="newParticipant.hide()">Cancelar</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Novo participante</span>
              <input ng-model="participant" type="text">
            </label>
            <button class="button button-full button-positive" ng-click="add(participant, group.id)">Adicionar</button>
          </div>
        </ion-content>
      </ion-modal-view>
</script>
