<ion-view title="Group Status">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="groupStatus-card27">
            <h3 id="groupStatus-heading1" style="color:#000000;">Status</h3>
            <form id="groupStatus-form13" class="list">
                <ion-radio id="groupStatus-radio6" name="status">NOVA</ion-radio>
                <ion-radio id="groupStatus-radio7" name="status">RECEBENDO_IDEIAS</ion-radio>
                <ion-radio id="groupStatus-radio9" name="status">AVALIANDO_IDEIAS</ion-radio>
                <ion-radio id="groupStatus-radio8" name="status">ENCERRADA</ion-radio>
            </form>
        </div>
    </ion-content>
</ion-view>
