<ion-view title="Participants">
    <ion-content padding="true" class="has-header">
        <div class="item item-body" id="participants-list-item-container21">
            <div id="participants-markdown17" style="margin-top:0px;color:#000000;">
                <p>Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-list id="participants-list10">
                <ion-item class="item-thumbnail-left" id="participants-list-item36">
                    <h2>Participant</h2>
                </ion-item>
                <label class="item item-input item-stacked-label" id="participants-input16">
                    <span class="input-label">Participant Email</span>
                    <input type="email" placeholder="">
                </label>
            </ion-list>
            <button id="participants-button17" class="button button-positive  button-block icon-left ion-android-person-add">Add</button>
        </div>
    </ion-content>
</ion-view>
