<div class="bar bar-header">
  <button class="button icon ion-arrow-left-c" ng-click="goBack()"></button>
  <h1 class="title">Rank de ideias</h1>
</div>

<ion-view title="Rank">
    <ion-content padding="true" class="has-header">
        <div class="item item-body" id="rank-list-item-container17">
            <div id="rank-markdown13" style="margin-top:0px;color:#000000;">
            </div>

            <ion-list class="item-icon-right" ng-repeat="ideia in ideias | orderBy: '-numeroAvaliacoes'">
                <ion-item  class="item-icon-right" id="rank-list-item24">{{ideia.texto}}
									<i class="icon ion-ribbon-a">{{ideia.numeroAvaliacoes}}</i>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
