<ion-view title="Rank">
    <ion-content padding="true" class="has-header">
        <div class="item item-body" id="rank-list-item-container17">
            <div id="rank-markdown13" style="margin-top:0px;color:#000000;">
                <p>
                    <strong>Great Ideas</strong>
                </p>
            </div>
            <ion-list id="rank-list9">
                <ion-item class="item-icon-right" id="rank-list-item23">Item
                    <i class="icon ion-android-star"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="rank-list-item24">Item
                    <i class="icon ion-android-star-half"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="rank-list-item28">Item
                    <i class="icon ion-android-star-half"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="rank-list-item29">Item
                    <i class="icon ion-android-star-half"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="rank-list-item30">Item
                    <i class="icon ion-android-star-half"></i>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
