<ion-view title="Close Tab Default Page">
    <ion-content padding="true" class="has-header">
			<ion-refresher pulling-text="Puxe para atualizar" on-refresh="doRefresh()">
		 </ion-refresher>
		 <div ng-show="teste" class="ng-hide">
			 <h3>Não há grupos de discussão</h3>
		 </div>
        <div class="list card">
					<ion-list>
						<ion-spinner class="spinner" ng-show="loading" ></ion-spinner>
						<ion-item class="item-icon-right"
							ng-repeat="item in groups" >
							<div class=""  ui-sref="rank({groupId: item.id})">
								<h2>Discussão: {{item.titulo}}</h2>
								<p>Descrição: {{item.descricao}}</p>
							</div>
								<!-- <a ui-sref="table({groupId : item.id })" class="icon ion-ios-settings-strong"></a> -->
								<a class="icon ion-edit" ng-show="usuario.nome == item.facilitador.nome" ui-sref="facilitatorGroupSettings({id: item.id})" ></a>
						</ion-item>
					</ion-list>
        </div>
    </ion-content>
</ion-view>
