<ion-view title="Close Tab Default Page">
    <ion-content padding="true" class="has-header">
        <form id="closeTabDefaultPage-form15" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <div class="list card" id="closeTabDefaultPage-card210">
            <ion-item class="item-avatar item-icon-right" id="closeTabDefaultPage-list-item33" ui-sref="tabsController.rank">
                <h2>Discussão</h2>
                <p>Descrição</p>
                <i class="icon ion-ios-settings-strong"></i>
            </ion-item>
            <div class="item item-body" id="closeTabDefaultPage-list-item-container20">
                <div id="closeTabDefaultPage-markdown16" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
