

<div class="bar bar-header">
  <button menu-toggle="left" class="button icon ion-navicon"></button>
  <h1 class="title">Brainwriting Eletrônico</h1>
  <!-- <button class="button">Edit</button> -->
</div>

<ion-view title="tab">
    <ion-tabs class="tabs-striped tabs-top" >
        <ion-tab title="Open Tab" icon="ion-android-clipboard" icon-off="ion-android-clipboard" href="#/tab/openTab">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Think" icon="ion-ios-lightbulb-outline"  href="#/tab/thinkTab">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>

				<ion-tab title="Arguing" icon="ion-ios-lightbulb" href="#/tab/arguingTab">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Evaluation" icon="ion-bookmark" icon-off="ion-bookmark" href="#/tab/evaluationTab">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Closed" icon="ion-document-text" icon-off="ion-document-text" href="#/tab/closedTab">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
